<launch>
    <arg name="visualiser" default="false"/>
    <rosparam file="$(find map_localiser)/params/extractor.yaml"/>
    <node pkg="map_localiser" type="map_localiser_landmark_extractor_node" name="landmark_extractor" output="screen"/>
    <node if="$(arg visualiser)" pkg="map_localiser" type="map_localiser_landmark_visualiser_node"
          name="landmark_visualiser" output="screen"/>
</launch>